
lab4/ImageViewerWithPattern/ImageViewer/obj/project.nuget.cache
lab4/ImageViewerWithPattern/ImageViewer/obj/project.assets.json
lab4/ImageViewerWithPattern/ImageViewer/obj/ImageViewer.csproj.nuget.g.props
lab4/ImageViewerWithPattern/ImageViewer/obj/ImageViewer.csproj.nuget.dgspec.json
lab4/ImageViewerWithPattern/ImageViewer/obj/Debug/net6.0-windows/refint/ImageViewer.dll
lab4/ImageViewerWithPattern/ImageViewer/obj/Debug/net6.0-windows/ref/ImageViewer.dll
lab4/ImageViewerWithPattern/ImageViewer/obj/Debug/net6.0-windows/MainWindow.g.i.cs
lab4/ImageViewerWithPattern/ImageViewer/obj/Debug/net6.0-windows/MainWindow.g.cs
lab4/ImageViewerWithPattern/.vs/ImageViewer/v17/.suo
lab4/ImageViewerWithPattern/ImageViewer/bin/Debug/net6.0-windows/ImageViewer.dll
lab4/ImageViewerWithPattern/ImageViewer/bin/Debug/net6.0-windows/ImageViewer.exe
lab4/ImageViewerWithPattern/ImageViewer/bin/Debug/net6.0-windows/ImageViewer.pdb
lab4/ImageViewerWithPattern/ImageViewer/obj/Debug/net6.0-windows/App.g.cs
lab4/ImageViewerWithPattern/ImageViewer/obj/Debug/net6.0-windows/App.g.i.cs
lab4/ImageViewerWithPattern/ImageViewer/obj/Debug/net6.0-windows/apphost.exe
lab4/ImageViewerWithPattern/ImageViewer/obj/Debug/net6.0-windows/ImageViewer.assets.cache
lab4/ImageViewerWithPattern/ImageViewer/obj/Debug/net6.0-windows/ImageViewer.csproj.AssemblyReference.cache
lab4/ImageViewerWithPattern/ImageViewer/obj/Debug/net6.0-windows/ImageViewer.csproj.CoreCompileInputs.cache
lab4/ImageViewerWithPattern/ImageViewer/obj/Debug/net6.0-windows/ImageViewer.csproj.FileListAbsolute.txt
lab4/ImageViewerWithPattern/ImageViewer/obj/Debug/net6.0-windows/ImageViewer.dll
lab4/ImageViewerWithPattern/ImageViewer/obj/Debug/net6.0-windows/ImageViewer.GeneratedMSBuildEditorConfig.editorconfig
lab4/ImageViewerWithPattern/ImageViewer/obj/Debug/net6.0-windows/ImageViewer.genruntimeconfig.cache
lab4/ImageViewerWithPattern/ImageViewer/obj/Debug/net6.0-windows/ImageViewer.pdb
lab4/ImageViewerWithPattern/ImageViewer/obj/Debug/net6.0-windows/ImageViewer_MarkupCompile.cache
lab4/ImageViewerWithPattern/ImageViewer/obj/Debug/net6.0-windows/ImageViewer_MarkupCompile.i.cache
lab4/ImageViewerWithPattern/ImageViewer/obj/Debug/net6.0-windows/ImageViewer_MarkupCompile.lref
lab4/ImageViewer/ImageViewer/obj/project.nuget.cache
lab4/ImageViewer/ImageViewer/obj/project.assets.json
lab4/ImageViewer/ImageViewer/obj/ImageViewer.csproj.nuget.g.props
lab4/ImageViewer/ImageViewer/obj/ImageViewer.csproj.nuget.dgspec.json
lab4/ImageViewer/ImageViewer/obj/Debug/net6.0-windows/refint/ImageViewer.dll
lab4/ImageViewer/ImageViewer/obj/Debug/net6.0-windows/ref/ImageViewer.dll
lab4/ImageViewer/ImageViewer/obj/Debug/net6.0-windows/MainWindow.g.i.cs
lab4/ImageViewer/ImageViewer/obj/Debug/net6.0-windows/MainWindow.g.cs
lab4/ImageViewer/ImageViewer/obj/Debug/net6.0-windows/ImageViewer_MarkupCompile.lref
lab4/ImageViewer/ImageViewer/obj/Debug/net6.0-windows/ImageViewer.pdb
lab4/ImageViewer/ImageViewer/obj/Debug/net6.0-windows/ImageViewer.genruntimeconfig.cache
lab4/ImageViewer/ImageViewer/obj/Debug/net6.0-windows/ImageViewer.GeneratedMSBuildEditorConfig.editorconfig
lab4/ImageViewer/ImageViewer/obj/Debug/net6.0-windows/ImageViewer.dll
lab4/ImageViewer/ImageViewer/obj/Debug/net6.0-windows/ImageViewer.designer.runtimeconfig.json
lab4/ImageViewer/ImageViewer/obj/Debug/net6.0-windows/ImageViewer.csproj.FileListAbsolute.txt
lab4/ImageViewer/ImageViewer/obj/Debug/net6.0-windows/ImageViewer.csproj.CoreCompileInputs.cache
lab4/ImageViewer/ImageViewer/obj/Debug/net6.0-windows/ImageViewer.csproj.AssemblyReference.cache
lab4/ImageViewer/ImageViewer/obj/Debug/net6.0-windows/ImageViewer.assets.cache
lab4/ImageViewer/ImageViewer/obj/Debug/net6.0-windows/ImageViewer.AssemblyInfo.cs
lab4/ImageViewer/ImageViewer/obj/Debug/net6.0-windows/apphost.exe
lab4/ImageViewer/ImageViewer/obj/Debug/net6.0-windows/App.g.i.cs
lab4/ImageViewer/ImageViewer/obj/Debug/net6.0-windows/App.g.cs
lab4/ImageViewer/ImageViewer/bin/Debug/net6.0-windows/ImageViewer.pdb
lab4/ImageViewer/ImageViewer/bin/Debug/net6.0-windows/ImageViewer.exe
lab4/ImageViewer/ImageViewer/bin/Debug/net6.0-windows/ImageViewer.dll
