@{
    ViewData["Title"] = "Character Generator";
}

    <style>

    </style>

   <div class="container text-center">
        <h2>@ViewData["Title"]</h2>

        <div class="row">
            <div class="col-md-4">
                <center>
                <a asp-area="" asp-controller="Home" asp-action="GetCharacter" asp-route-parameter="Mage" class="d-block mb-4  mage custom-link">
                </a>
                   </center>
            </div>
            <div class="col-md-4">
                 <center>
                <a asp-area="" asp-controller="Home" asp-action="GetCharacter" asp-route-parameter="Necromancer" class="d-block mb-4  necromancer custom-link">
                </a>
                 </center>
            </div>
            <div class="col-md-4">
                <center>
                <a asp-area="" asp-controller="Home" asp-action="GetCharacter" asp-route-parameter="Paladin" class="d-block mb-4  paladin custom-link">
                </a>
                 </center>
            </div>
            <div class="col-md-4">
                <center>
                <a asp-area="" asp-controller="Home" asp-action="GetCharacter" asp-route-parameter="Barbarian" class="d-block mb-4 barbarian custom-link ">
                </a>
                </center>
            </div>
            <div class="col-md-4">
                <center>
                <a asp-area="" asp-controller="Home" asp-action="GetCharacter" asp-route-parameter="Rogue" class="d-block mb-4  rogue custom-link ">
                </a>
                </center>
            </div>
        </div>

        <!-- Другие элементы и содержимое страницы -->

    </div>